html {background-color: yellow;}

#bg {
  position: fixed; 
  top: -50%; 
  left: 0%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
   
 

}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
      z-index: -1;
      }
  
  p.footer {

	text-align: center;
	 font-size: 12px;
	 letter-spacing: 2px;
	 margin-top: 50px;
	 text-transform: uppercase;
	 font-weight: 400;
	 font-style: normal;
	 font-family: "Julius Sans One";
	 line-height: 30px;   
	 z-index: 100;   

}

body {
	 padding: 50px 0;
	 font-size: 19px;
	 font-family: "Lato";
	 font-style: normal;
	 font-weight: 400;
	 color: #201938;
}

div.wrapper {
	 margin: 0 auto;
	 display: block;
	 white-space: nowrap;
	 text-align: center;
	 padding-bottom: 20px;
	 min-height: 100%;
	 width: auto;
	 max-width: none;
}

div {
	 text-align: left;
	 display: inline-block;
	 white-space: normal;
	 vertical-align: top;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 padding: 0 2%;
	 max-width: 760px;
	 width: 760px;
}

h1 {
	 text-align: left;
	 float: left;
	 font-family: Pacifico;
	 font-weight: 400;
	 font-style: normal;
	 font-size: 64px;
	 text-transform: capitalize;
	 /* Safari */
-webkit-transform: rotate(-4deg);

/* Firefox */
-moz-transform: rotate(-4deg);

/* IE */
-ms-transform: rotate(-4deg);

/* Opera */
-o-transform: rotate(-4deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-left: 320px;
	margin-top: 120px;
}

p.intro {
	 font-size: 1.368em;
	 border-top: 1px;
	 border-bottom: 1px;
	 padding: 1.154em;
	 text-align: center;
	 border-style: solid;
	 line-height: 1.5em;
	 margin: 1.038em 0px;
}

p {
	 font-size: 1.05em;
	 line-height: 1.60em;
	 color: rgba(51, 51, 51, 0.80);
	 margin: 0px 0px 1.421em 0px;
	 width: 676.96875px;
font-family: 'Open Sans', sans-serif;
	 font-weight: 300;
	 font-style: italic;
	 text-align: center;
	 float: none;
	 margin-left: 350px;
	 margin-top: 230px;
	 color:#201938;
	 letter-spacing: 1px;

}

h2 {
	 font-size: 1.526em;
	 line-height: 0.931em;
	 margin: 0px 0px 0.931em 0px;
}

p.pullquote {
	 padding-left: 10px;
	 border-style: solid;
	 border-left-width: 3px;
	 color: rgba(51, 51, 51, 1.00);
	 font-size: 1em;
	 line-height: 1.421em;
	 margin: 0px 0px 1.421em 0px;
}

p.author {
	 text-align: center;
	 font-size: 13px;
	 letter-spacing: 2px;
	 margin-top: 27px;
	 text-transform: uppercase;
}

article {
	 margin: 0 auto;
	 text-align: center;
	 width: auto;
}

code {
	 background-color: #f1f1f1;
	 display: block;
	 padding: 6px;
	 margin-bottom: 20px;
	 font-size: 15px;
}

font {
	 font-family: "Alex Brush";
	 font-weight: 400;
	 font-style: normal;
}

span {
	 text-align: left;
	 float: left;
	 font-family: Pacifico;
	 font-weight: 400;
	 font-style: normal;
	 font-size: 64px;
	 text-transform: capitalize;
	 /* Safari */
-webkit-transform: rotate(-4deg);

/* Firefox */
-moz-transform: rotate(-4deg);

/* IE */
-ms-transform: rotate(-4deg);

/* Opera */
-o-transform: rotate(-4deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-left: 150px;
	margin-top: 120px;

}

blockquote {
	 text-align: right;
	 font-size: 20px;
}

em {
	 text-transform: capitalize;
	 text-align: center;
	 float: none;
	 font-size: 117px;
}

@media only screen and (max-width: 900px) {
	 div {
	 display: block;
	 margin: 0 auto 8em;
	 width: 100%;
	 padding: 0 2em;
}

}@media only screen and (max-width: 480px) {
	 body {
	 font-size: 90%;
}

h1 {
	 font-size: 3.75em;
	 line-height: 0.929em;
}

p {
	 font-size: 16px;
}

p.pullquote {
	 font-size: 16px;
}

}