body {
  background-color: #000000;
  font-family: helvetica;
}
p {
  color: #ffffff;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
