#bg {
  position: relative; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
#bg img {
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
      z-index: -1;
        -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}



body {
	 padding: 50px 0;
	 font-size: 19px;
	 font-family: "Lato";
	 font-style: normal;
	 font-weight: 400;
	 margin-left: 400px;
	 position: relative;
	 z-index: 4;
}

div.wrapper {
	 margin: 0 auto;
	 display: block;
	 white-space: nowrap;
	 text-align: center;
	 padding-bottom: 20px;
	 min-height: 100%;
	 width: auto;
	 max-width: none;
}

div {
	 text-align: left;
	 display: inline-block;
	 white-space: normal;
	 vertical-align: top;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 padding: 0 2%;
	 max-width: 760px;
	 width: 760px;
}

h1 {
	 font-size: 10em;
	 line-height: 1em;
	 text-align: left;
	 text-transform: uppercase;
	 font-family: "Six Caps";
	 font-weight: 400;
	 font-style: normal;
	 position: relative;
	 z-index: 2;
}

p.intro {
	 font-size: 1.368em;
	 border-top: 1px;
	 border-bottom: 1px;
	 padding: 1.154em;
	 text-align: center;
	 border-style: solid;
	 line-height: 1.5em;
	 margin: 1.038em 0px;
}

p.footer {

	text-align: left;
	 font-size: 14px;
	 letter-spacing: 2px;
	 margin-top: 38px;
	 text-transform: uppercase;
	 font-weight: 400;
	 font-style: normal;
	 font-family: "Julius Sans One";
	 line-height: 30px;

	}

p {
	 font-size: 1.05em;
	 line-height: 1.42em;
	 color: rgba(51, 51, 51, 0.80);
	 margin: 0px 0px 1.421em 0px;
	 width: 676.96875px;
	 font-family: "Old Standard TT";
	 font-weight: 400;
	 font-style: normal;
	 text-align: left;
	 float: none;
	 margin-top: -350px;
	 margin-left: 250px;
	 position: relative;
	 z-index: 2;
}

h2 {
	 font-size: 1.526em;
	 line-height: 0.931em;
	 margin: 0px 0px 0.931em 0px;
}

p.pullquote {
	 padding-left: 10px;
	 border-style: solid;
	 border-left-width: 3px;
	 color: rgba(51, 51, 51, 1.00);
	 font-size: 1em;
	 line-height: 1.421em;
	 margin: 0px 0px 1.421em 0px;
}

p.author {
	 text-align: center;
	 font-size: 13px;
	 letter-spacing: 2px;
	 margin-top: 27px;
	 text-transform: uppercase;
}

article {
	 margin: 0 auto;
	 text-align: center;
	 width: auto;
}

code {
	 background-color: #f1f1f1;
	 display: block;
	 padding: 6px;
	 margin-bottom: 20px;
	 font-size: 15px;
}

span {
	 text-align: left;
	 float: left;
	 font-family: "Just Another Hand";
	 font-weight: 400;
	 font-style: normal;
	 font-size: 54px;
}

blockquote {
	 text-align: right;
	 font-size: 20px;
}

@media only screen and (max-width: 900px) {
	 div {
	 display: block;
	 margin: 0 auto 8em;
	 width: 100%;
	 padding: 0 2em;
}

}@media only screen and (max-width: 480px) {
	 body {
	 font-size: 90%;
}

h1 {
	 font-size: 3.75em;
	 line-height: 0.929em;
}

p {
	 font-size: 16px;
}

p.pullquote {
	 font-size: 16px;
}

}